projects/n8n-opencode-it-automation/workflows/access-request.json
{
  "name": "Access Request — AI Policy Review",
  "nodes": [
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "field-001", "name": "requester", "value": "Jane Smith", "type": "string" },
            { "id": "field-002", "name": "resource", "value": "AWS Production S3 Bucket", "type": "string" },
            { "id": "field-003", "name": "accessLevel", "value": "Read/Write", "type": "string" },
            { "id": "field-004", "name": "justification", "value": "Need access to deploy application assets", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Set Request Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an IT security policy reviewer. Evaluate this access request and provide a decision (APPROVE or DENY) with a brief reason. Requester: {{ $json.requester }}, Resource: {{ $json.resource }}, Access Level: {{ $json.accessLevel }}, Justification: {{ $json.justification }}. Apply least-privilege principles.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Claude — Policy Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "field-005", "name": "decision", "value": "={{ $json.content[0].text }}", "type": "string" },
            { "id": "field-006", "name": "requester", "value": "={{ $('Set Request Data').item.json.requester }}", "type": "string" },
            { "id": "field-007", "name": "resource", "value": "={{ $('Set Request Data').item.json.resource }}", "type": "string" },
            { "id": "field-008", "name": "status", "value": "reviewed", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Format Decision",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Request Data", "type": "main", "index": 0 }]]
    },
    "Set Request Data": {
      "main": [[{ "node": "Claude — Policy Review", "type": "main", "index": 0 }]]
    },
    "Claude — Policy Review": {
      "main": [[{ "node": "Format Decision", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
