projects/n8n-opencode-it-automation/workflows/cloud-cost-report.json
{
  "name": "Cloud Cost Report — Weekly AI Summary",
  "nodes": [
    {
      "parameters": {},
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "field-001", "name": "period", "value": "March 2026", "type": "string" },
            { "id": "field-002", "name": "total_cost", "value": "487.32", "type": "string" },
            { "id": "field-003", "name": "ec2_cost", "value": "210.50", "type": "string" },
            { "id": "field-004", "name": "rds_cost", "value": "145.20", "type": "string" },
            { "id": "field-005", "name": "s3_cost", "value": "42.10", "type": "string" },
            { "id": "field-006", "name": "lambda_cost", "value": "0.82", "type": "string" },
            { "id": "field-007", "name": "other_cost", "value": "88.70", "type": "string" },
            { "id": "field-008", "name": "vs_last_month", "value": "+12.4%", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Set Cost Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a FinOps analyst. Write a brief executive summary of this AWS cost report for {{ $json.period }}. Total: ${{ $json.total_cost }} ({{ $json.vs_last_month }} vs last month). Breakdown: EC2 ${{ $json.ec2_cost }}, RDS ${{ $json.rds_cost }}, S3 ${{ $json.s3_cost }}, Lambda ${{ $json.lambda_cost }}, Other ${{ $json.other_cost }}. Include 2 cost optimization recommendations.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Claude — Cost Narrative",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "field-009", "name": "executive_summary", "value": "={{ $json.content[0].text }}", "type": "string" },
            { "id": "field-010", "name": "period", "value": "={{ $('Set Cost Data').item.json.period }}", "type": "string" },
            { "id": "field-011", "name": "total_cost", "value": "={{ $('Set Cost Data').item.json.total_cost }}", "type": "string" },
            { "id": "field-012", "name": "status", "value": "report_ready", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Format Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Cost Data", "type": "main", "index": 0 }]]
    },
    "Set Cost Data": {
      "main": [[{ "node": "Claude — Cost Narrative", "type": "main", "index": 0 }]]
    },
    "Claude — Cost Narrative": {
      "main": [[{ "node": "Format Report", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
