projects/n8n-opencode-it-automation/workflows/new-hire-provisioning.json
{
  "name": "New Hire IT Provisioning",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "field-001", "name": "employee", "value": "John Doe", "type": "string" },
            { "id": "field-002", "name": "role", "value": "IT Engineer", "type": "string" },
            { "id": "field-003", "name": "department", "value": "Engineering", "type": "string" },
            { "id": "field-004", "name": "startDate", "value": "2026-03-19", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Set Employee Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an IT provisioning assistant. Generate a concise IT provisioning checklist for: Name: {{ $json.employee }}, Role: {{ $json.role }}, Department: {{ $json.department }}, Start Date: {{ $json.startDate }}. List 5 key IT setup tasks.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Claude — Generate Checklist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "field-005", "name": "provisioning_plan", "value": "={{ $json.content[0].text }}", "type": "string" },
            { "id": "field-006", "name": "employee", "value": "={{ $('Set Employee Data').item.json.employee }}", "type": "string" },
            { "id": "field-007", "name": "status", "value": "provisioning_ready", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Employee Data", "type": "main", "index": 0 }]]
    },
    "Set Employee Data": {
      "main": [[{ "node": "Claude — Generate Checklist", "type": "main", "index": 0 }]]
    },
    "Claude — Generate Checklist": {
      "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
